body{
    background: #F2F5F7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bodyContainer{
    grid-column-start: 2;
    grid-column-end: 3;
    background: #FFFFFF;
    width: 300px;
    height: 671px;
    margin: 20px
}

.input{
    width: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.executeButton{
    background-color: orangered;
    color: white;
}

.query{
    height: 165px;
    top: 65px;
    background: #F2F5F7;
}

.queryBox{
    margin: 25px;
    padding: 5px;
}

.logoBar{
    height: 50px;
}

.history{
    margin-top: 20px;
}

.queryList{
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 20px;
}

.queryList li{
    display: inline-block;
    margin-right: 10px;
    font-size: small;
}

#content p{
    font-size: small;
    color: #545454;
}

#content{
    margin: 20px;
}

.box{
    border: solid 1px #b9b9b9;
    margin-bottom: 20px;
    padding: 5px;
    position: relative;
    border-radius: 5px;
}

.logoBar{
    position: relative;
}

#logo{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 10px;
}

#loadingLogo{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#dynamicLoadingLogo{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#completeLogo{
     width: 20px;
     height: 20px;
     position: absolute;
     bottom: 0;
     right: 0;
 }

a{
    color: #4d4d4d;
    text-decoration: none;
}

a:hover, a:focus {
    color: orangered;
    border-bottom: 2px solid orangered;
}


